{:deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
        com.stuartsierra/dependency {:mvn/version "0.2.0"}
        org.clojure/core.async {:mvn/version "0.4.474"}}
 :aliases {:nrepl
           {:extra-deps
            {nrepl/nrepl {:mvn/version "0.4.5"}
             cider/cider-nrepl {:mvn/version "0.18.0"}
             cider/piggieback {:mvn/version "0.3.9"}
             github-brianfay/cljs-remote-node-repl {:git/url "https://github.com/brianfay/cljs-remote-node-repl" :sha "3ad65965dc748268fe47234a54b2362e79101213"}}}}}
